html, body, main {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

main {
  padding: 5%;
}

img {
  width: 280px;
  height: 280px;
  border: 5px solid black;
  border-radius: 300px;
  margin: 0 auto;
}

section {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 3%;
}

/* increase the image at larger devices */
@media (min-width: 768px) {
  img {
    width: 320px;
    height: 320px;
    border: 7px solid black;
  }
}